<h1>Log In</h1>
<%= form_for @user, url: { controller: 'sessions', action: 'create' } do |f| %>
	<%= f.text_field :name , placeholder: "Enter your username" %>
	<%= f.text_field :password , placeholder: "Enter your password" %>
	<%= f.submit  "Log In" %>
<% end %>